<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        />
    </head>
    <body>
        <h1>Login</h1>

        <ul>
            <% if (messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
            <% } %>
        </ul>

        <ul>
            <% if (messages.error) { %>
            <li><%= messages.error %></li>
            <% } %>
        </ul>

        <form action="/user/login" method="POST">
            <div>
                <label for="email">Enter email: </label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="email"
                />
            </div>
            <div>
                <label for="password">Enter password: </label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="password"
                />
            </div>
            <button>login</button>
            <br />
            <a href="/user/register">register</a>
        </form>
    </body>
</html>
